body{
    margin: 0 !important;
    background-color: #646464 !important;
    color: #ffffff !important;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    background-color: #5A5A5A;
    z-index: 99;
}
header > div {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

header > div > form {
    display: grid;
    grid-template-columns: 80% 20%;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    border: 2px solid #dddddd;
    background-color: #efefef;
    color: #666666;
    font-size: 20px;
}

button {
    width: 100%;
    padding: 15px 10px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    border-left: none;
    background-color: #007bff;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
}

#table {
    color: #ffffff !important;
}

h1 {
    font-size: 30px;
}